
<link href="https://fonts.googleapis.com/css?family=Play&display=swap" rel="stylesheet">
{% extends 'base.html'%}
{% import 'macros.html' as macro%}




<!-- Content block -->
{% block content %}
<div class="container">

    <!-- Poster background -->
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 posterPath" style="background: url({{news.poster}}) no-repeat center center">
        </div>

        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 news-details">
            <h3>{{ news.title }}</h3>

            <p class="overview"> {{ news.overview }}</p>

        
        </div>
    </div>



</div>
{% endblock %}